# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Arquivos grandes de dados (IA)
*.pt
*.pth
*.onnx
data/